interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.beget.com/api/domain/getList?output_format=json
  response:
    body:
      string: '{"status":"success","answer":{"status":"success","result":[{"id":9645840,"fqdn":"example2.com","date_add":"2022-06-12
        08:55:33","auto_renew":false,"date_register":null,"date_expire":null,"can_renew":false,"registrar":null,"registrar_status":null,"register_order_status":null,"register_order_comment":"","renew_order_status":null,"is_under_control":0}]}}'
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Server:
      - Apache/2.4.12
    status:
      code: 200
      message: OK
version: 1
